﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="~/assets/css/reset.css"> <!-- CSS reset -->
    <link rel="stylesheet" href="~/assets/css/style1.css"> <!-- Resource style -->
    <script src="js/modernizr.js"></script> <!-- Modernizr -->
    <link href="~/assets/css/style2.css" rel="stylesheet" />
    <link href="~/assets/css/style3.css" rel="stylesheet" />
    <style>
        .ju {
            padding-top: 1rem;
            padding-right: 1rem;
            padding-bottom: 1rem;
            padding-left: 1rem;
            margin-bottom: 2rem;
            background-color: #e9ecef;
            border-radius: .3rem;
        }
    </style>
</head>

<!--Carousel Wrapper-->
<div id="carousel-example-2" class="carousel slide carousel-fade" data-ride="carousel">
    <!--Indicators-->
    @*<ol class="carousel-indicators">
            <li data-target="#carousel-example-2" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-2" data-slide-to="1"></li>
            <li data-target="#carousel-example-2" data-slide-to="2"></li>
        </ol>*@
    <!--/.Indicators-->
    <!--Slides-->
    <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
            <div class="view">
                <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(68).jpg"
                     alt="First slide">
                <div class="mask rgba-black-light"></div>
            </div>
            @*<div class="carousel-caption">
                    <h3 class="h3-responsive">Light mask</h3>
                    <p>First text</p>
                </div>*@
        </div>
        <div class="carousel-item">
            <!--Mask color-->
            <div class="view">
                <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(6).jpg"
                     alt="Second slide">
                <div class="mask rgba-black-strong"></div>
            </div>
            @*<div class="carousel-caption">
                    <h3 class="h3-responsive">Strong mask</h3>
                    <p>Secondary text</p>
                </div>*@
        </div>
        <div class="carousel-item">
            <!--Mask color-->
            <div class="view">
                <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(9).jpg"
                     alt="Third slide">
                <div class="mask rgba-black-slight"></div>
            </div>
            @*<div class="carousel-caption">
                    <h3 class="h3-responsive">Slight mask</h3>
                    <p>Third text</p>
                </div>*@
        </div>
    </div>
    <!--/.Slides-->
    <!--Controls-->
    <a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
    <!--/.Controls-->
</div>
<!--/.Carousel Wrapper-->
<div class="container" style="padding-top:15px">
    <div class="row">
        <div class="col-md-4">
            <div class="ju">
                <section class="cd-section" style="height: 280px;width: 320px;">

                    <p>
                        consectetur adipisicing elit.

                    </p>

                    <div class="cd-modal-action">
                        <a href="#0" class="btn" data-type="modal-trigger">View More</a>
                        <span class="cd-modal-bg"></span>
                    </div> <!-- cd-modal-action -->

                    <div class="cd-modal">
                        <div class="cd-modal-content">


                            <p>
                                tempora, delectus nesciunt, provident quae aliquam, voluptatum beatae quis similique in maiores repellat eli
                            <p>
                            <p><img src="~/images/pp.jpg" width="900" height="500" /></p>
                            <p>    gendi voluptas veniam optio illum vero! Eius, dignissimos esse eligendi veniam.</p>

                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad modi repellendus, optio eveniet eligendi molestiae? Fugiat, temporibus! A rerum pariatur neque laborum earum, illum voluptatibus eum voluptatem fugiat, porro animi tempora? Sit harum nulla, nesciunt molestias, iusto aliquam aperiam est qui possimus reprehenderit ipsam ea aut assumenda inventore iste! Animi quaerat facere repudiandae earum quisquam accusamus tempora, delectus nesciunt, provident quae aliquam, voluptatum beatae quis similique in maiores repellat eligendi voluptas veniam optio illum vero! Eius, dignissimos esse eligendi veniam.
                            </p>
                        </div> <!-- cd-modal-content -->
                    </div> <!-- cd-modal -->

                    <a href="#0" class="cd-modal-close">Close</a>
                </section> <!-- .cd-section -->

            </div>
        </div>
        <div class="col-md-4">
            <div class="ju">
                <section class="cd-section2" style="height: 280px;width: 320px;">

                    <p>consectetur adipisicing elit. </p>

                    <div class="cd-modal-action2">
                        <a href="#0" class="btn" data-type="modal-trigger2">View More</a>
                        <span class="cd-modal-bg2"></span>
                    </div> <!-- cd-modal-action -->

                    <div class="cd-modal2">
                        <div class="cd-modal-content2">


                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            <p>
                            <p><img src="~/images/kk.jpg" width="900" height="500" /></p>
                            <p>    gendi voluptas veniam optio illum vero! Eius, dignissimos esse eligendi veniam.</p>

                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad modi repellendus, optio eveniet eligendi molestiae? Fugiat, temporibus! A rerum pariatur neque laborum earum, illum voluptatibus eum voluptatem fugiat, porro animi tempora? Sit harum nulla, nesciunt molestias, iusto aliquam aperiam est qui possimus reprehenderit ipsam ea aut assumenda inventore iste! Animi quaerat facere repudiandae earum quisquam accusamus tempora, delectus nesciunt, provident quae aliquam, voluptatum beatae quis similique in maiores repellat eligendi voluptas veniam optio illum vero! Eius, dignissimos esse eligendi veniam.
                            </p>
                        </div> <!-- cd-modal-content -->
                    </div> <!-- cd-modal -->

                    <a href="#0" class="cd-modal-close2">Close</a>
                </section> <!-- .cd-section -->

            </div>
        </div>
        <div class="col-md-4">
            <div class="ju">
                <section class="cd-section3" style="height: 280px;width: 320px;">

                    <p>consectetur adipisicing elit. </p>

                    <div class="cd-modal-action3">
                        <a href="#0" class="btn" data-type="modal-trigger3">View More</a>
                        <span class="cd-modal-bg3"></span>
                    </div> <!-- cd-modal-action -->

                    <div class="cd-modal3">
                        <div class="cd-modal-content3">


                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            <p>
                            <p><img src="~/images/ii.jpg" width="900" height="500" /></p>
                            <p>    gendi voluptas veniam optio illum vero! Eius, dignissimos esse eligendi veniam.</p>

                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad modi repellendus, optio eveniet eligendi molestiae? Fugiat, temporibus! A rerum pariatur neque laborum earum, illum voluptatibus eum voluptatem fugiat, porro animi tempora? Sit harum nulla, nesciunt molestias, iusto aliquam aperiam est qui possimus reprehenderit ipsam ea aut assumenda inventore iste! Animi quaerat facere repudiandae earum quisquam accusamus tempora, delectus nesciunt, provident quae aliquam, voluptatum beatae quis similique in maiores repellat eligendi voluptas veniam optio illum vero! Eius, dignissimos esse eligendi veniam.
                            </p>
                        </div> <!-- cd-modal-content -->
                    </div> <!-- cd-modal -->

                    <a href="#0" class="cd-modal-close3">Close</a>
                </section> <!-- .cd-section -->
            </div>
        </div>

    </div>

</div>

<script src="~/assets/js/jquery-2.1.1.js"></script>
<script src="~/assets/js/velocity.min.js"></script>
<script src="~/assets/js/main1.js"></script> <!-- Resource jQuery -->
<script src="~/assets/js/main2.js"></script>
<script src="~/assets/js/main3.js"></script>