﻿

.cd-section3 {
    padding: 2em 5%;
    text-align: center;
    background-color: #03bb91;
    background: url(../../images/kk.jpg) no-repeat center center;
}

@media only screen and (min-width: 768px) {
    .cd-section3 {
        padding: 4em 10%;
    }

        .cd-section3 p {
            font-size: 1.8rem;
        }
}

@media only screen and (min-width: 1170px) {
    .cd-section3 {
        padding: 4em 20%;
    }
}

.cd-modal3{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    -webkit-transition: visibility 0s 0.3s, opacity 0.3s 0s, z-index 0s 0.3s;
    -moz-transition: visibility 0s 0.3s, opacity 0.3s 0s, z-index 0s 0.3s;
    transition: visibility 0s 0.3s, opacity 0.3s 0s, z-index 0s 0.3s;
}

    .cd-modal3::after {
        /* gradient overlay at bottom of modal window */
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 60px;
        pointer-events: none;
        background: transparent;
        background: -webkit-linear-gradient( bottom, #34383c, rgba(52, 56, 60, 0));
        background: linear-gradient(to top, #34383c, rgba(52, 56, 60, 0));
    }

.cd-modal-content3 {
    background: url(../../images/ii.jpg) no-repeat center center;
}

.cd-modal3 .cd-modal-content3 {
    height: 100%;
    width: 100%;
    padding: 3em 5%;
    text-align: left;
    overflow-y: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.cd-modal3 p {
    color: #ffffff;
    line-height: 1.6;
    margin: 2em 0;
}

.modal-is-visible3 .cd-modal3 {
    z-index: 1;
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
    -webkit-transition: visibility 0s 0s, opacity 0.3s 0s, z-index 0s 0s;
    -moz-transition: visibility 0s 0s, opacity 0.3s 0s, z-index 0s 0s;
    transition: visibility 0s 0s, opacity 0.3s 0s, z-index 0s 0s;
}

    .modal-is-visible3 .cd-modal3 .cd-modal-content3 {
        -webkit-overflow-scrolling: touch;
    }

@media only screen and (min-width: 768px) {
    .cd-modal3 .cd-modal-content3 {
        padding: 4em 10%;
    }
}

@media only screen and (min-width: 1170px) {
    .cd-modal3 .cd-modal-content3 {
        padding: 6em 20%;
    }

    .cd-modal3 p {
        font-size: 2rem;
        line-height: 2;
    }
}

.cd-modal-action3 {
    position: relative;
    top: 70px;
}

    .cd-modal-action3 .btn, .cd-modal-action3 .cd-modal-bg3 {
        display: inline-block;
        height: 4em;
        background-color: #34383c;
    }

    .cd-modal-action3 .btn {
        width: 12.5em;
        border-radius: 5em;
        color: #ffffff;
        line-height: 4em;
        opacity:0.8;
        white-space: nowrap;
        font-weight: 700;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        -webkit-transition: color 0.2s 0.3s, width 0.3s 0s;
        -moz-transition: color 0.2s 0.3s, width 0.3s 0s;
        transition: color 0.2s 0.3s, width 0.3s 0s;
    }

        .cd-modal-action3 .btn.to-circle3 {
            width: 4em;
            color: transparent;
            -webkit-transition: color 0.2s 0s, width 0.3s 0.2s;
            -moz-transition: color 0.2s 0s, width 0.3s 0.2s;
            transition: color 0.2s 0s, width 0.3s 0.2s;
        }

    .cd-modal-action3 .cd-modal-bg3 {
        position: absolute;
        z-index: 1;
        left: 50%;
        top: 0;
        width: 4em;
        border-radius: 50%;
        opacity: 0;
        visibility: hidden;
        -webkit-transform: translateZ(0);
        -moz-transform: translateZ(0);
        -ms-transform: translateZ(0);
        -o-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-transform: translateX(-2em);
        -moz-transform: translateX(-2em);
        -ms-transform: translateX(-2em);
        -o-transform: translateX(-2em);
        transform: translateX(-2em);
        -webkit-transition: visibility 0s 0.5s;
        -moz-transition: visibility 0s 0.5s;
        transition: visibility 0s 0.5s;
    }

        .cd-modal-action3 .cd-modal-bg3.is-visible3 {
            opacity: 1;
            visibility: visible;
        }

.cd-modal-close3 {
    position: fixed;
    z-index: 1;
    top: 20px;
    right: 5%;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.3) url(../../images/cd-icon-close.svg) no-repeat center center;
    /* image replacement */
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    visibility: hidden;
    opacity: 0;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    -webkit-transition: -webkit-transform 0.3s 0s, visibility 0s 0.3s, opacity 0.3s 0s;
    -moz-transition: -moz-transform 0.3s 0s, visibility 0s 0.3s, opacity 0.3s 0s;
    transition: transform 0.3s 0s, visibility 0s 0.3s, opacity 0.3s 0s;
}

.no-touch3 .cd-modal-close3:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-is-visible3 .cd-modal-close3 {
    visibility: visible;
    opacity: 1;
    -webkit-transition: -webkit-transform 0.3s 0s, visibility 0s 0s, opacity 0.3s 0s;
    -moz-transition: -moz-transform 0.3s 0s, visibility 0s 0s, opacity 0.3s 0s;
    transition: transform 0.3s 0s, visibility 0s 0s, opacity 0.3s 0s;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}

@media only screen and (min-width: 768px) {
    .cd-modal-close3 {
        top: 70px;
    }
}
